@model IEnumerable<FastTripApp.DAO.Models.Trip>

@{
    ViewData["Title"] = "My trips";
    FastTripApp.DAO.Models.Trip firstTrip = Model.FirstOrDefault();  
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@Html.Partial("_Abandon")

<div class="container shadow-lg p-3 rounded border-dark text-dark border-5">

    <div class="row pt-4 ">
        <div class="col-6">
            <h1 class="text-center">Next trip</h1>
        </div>
        <div class="col text-right pt-3  pb-3 mr-3">
            <a asp-controller="Trip" asp-action="Create" class="btn btn-primary text-light">Create new trip</a>
        </div>
    </div>

    <div class="row table-bordered p-3 ml-3 mr-3 d-flex justify-content-center justify-content-around rounded">
        <div class="col-6 bg-white p-3">
            @{
                if (Model.Count() > 0)
                {
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="@firstTrip.Name"></label>
                        </div>
                        <div class="col">
                            <input asp-for="@firstTrip.Name" readonly class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="@firstTrip.TimeBeforeDeparture.ApproximateStart"></label>
                        </div>
                        <div class="col">
                            <input asp-for="@firstTrip.TimeBeforeDeparture.ApproximateStart" readonly class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="@firstTrip.TimeBeforeDeparture.EstimatedView"></label>
                        </div>
                        <div class="col">
                            <input asp-for="@firstTrip.TimeBeforeDeparture.EstimatedView" readonly class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="@firstTrip.Descriprion"></label>
                        </div>
                        <div class="col">
                            <textarea asp-for="@firstTrip.Descriprion" readonly class="form-control" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="@firstTrip.Address.Start"></label>
                        </div>
                        <div class="col">
                            <textarea cols="2" type="text" class="form-control" placeholder="Start trip" readonly asp-for="@firstTrip.Address.Start"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="@firstTrip.Address.End"></label>
                        </div>
                        <div class="col">
                            <textarea cols="2" type="text" class="form-control" placeholder="End trip" readonly asp-for="@firstTrip.Address.End"></textarea>
                        </div>
                    </div>

                    <div class="d-flex flex-row bd-highlight ">
                        <a asp-controller="Trip" asp-route-Id="@firstTrip.Id" asp-action="Edit" class="btn btn-primary mx-3 w-25">
                            Edit
                        </a>
                        <a id="deleteCustomerModal" data-toggle="modal" data-target="#modal-delete" data-id="@firstTrip.Id" class="text-white btn btn-danger mx-3 w-25">
                            Abandon
                        </a>
                        <a asp-controller="Trip" asp-action="Start" asp-route-id="@firstTrip.Id" class="btn btn-primary text-light mx-3 w-25">
                            Start trip
                        </a>
                    </div>
                }
                else
                {
                    <p> No trips exists. Create some new trip.</p>
                }
            }
        </div>

        <div id="image_div">
            <img id="googleStaticPicture" src="@Url.Content("~"+firstTrip.FullStaticImageWay)" />
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <br /> <br />
        <h1 class="text-center">My booked trips</h1>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        <label asp-for="@firstTrip.Name"></label>
                    </th>
                    <th style="WIDTH: 180px;">
                        <label asp-for="@firstTrip.TimeBeforeDeparture.ApproximateStart"></label>
                    </th>
                    <th>
                        <label asp-for="@firstTrip.Address.Start"></label>
                    </th>
                    <th>
                        <label asp-for="@firstTrip.Address.End"></label>
                    </th>
                    <th style="width: 200px">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trip in Model)
                {
                    var linkInfo = "Trip/Details?id=" + trip.Id;
                    <tr>
                        <td>@trip.Name</td>
                        <td>@trip.TimeBeforeDeparture.ApproximateStart</td>
                        <td>@trip.Address.Start</td>
                        <td>@trip.Address.End</td>
                        <td class="text-center">
                            <a class="btn btn-info text-white" onclick="getInfo(@trip.Id)">
                                Details
                            </a>
                            <a id="deleteCustomerModal" data-toggle="modal" data-target="#modal-delete" data-id="@trip.Id" class="text-white btn btn-danger">
                                Abandon
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@section scripts
{
    <script type="text/javascript">
            function getInfo(id) {
                $.ajaxSetup({ cache: false });
                
                $.get('Trip/Details?id=' + id, function (data) {
                $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            }
    </script>
}
