@model IEnumerable<FastTripApp2.Models.Trip>

@{
    ViewData["Title"] = "My trips";
}
<script type="text/javascript" src="/js/site.js"></script>

<div class="container p-3 ">
    <div class="row pt-4 ">
        <div class="col-6">
            <h2 class="text-primary">Next trip</h2>

        </div>
        <div class="col-6 text-right p-3">
            
            <a asp-controller="Trip" asp-action="Create" class="btn btn-primary text-light">
                Create new trip
            </a>
            @{ 
                if (Model.Count() > 0)
                {
                    var ie = Model.GetEnumerator();
                    ie.MoveNext();
                    Trip currentTrip = ie.Current;
                    <a class="btn btn-primary text-light" asp-controller="Trip" asp-action="Start" asp-route-id="@currentTrip.Id" onclick="StartStop();">
                    Start trip
                    </a>
                }
            }
            

        </div>

    </div>
    <div class="row pt-4 table-bordered p-3 rounded" style="        background-color: #c1caca">

        <div class="col-6  text-primary">
            @{
                if (Model.Count() > 0)
                {
                    var ie = Model.GetEnumerator();
                    ie.MoveNext();
                    Trip currentTrip = ie.Current;
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="@currentTrip.Name"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="@currentTrip.Name" disabled class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="@currentTrip.TimePlain"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="@currentTrip.TimePlain" disabled class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="@currentTrip.Descriprion"></label>
                        </div>
                        <div class="col-8">
                            <textarea asp-for="@currentTrip.Descriprion" disabled class="form-control" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="@currentTrip.AddressStart"></label>
                        </div>
                        <div class="col-8">
                            <input id="InputStart" type="text" disabled class="form-control" placeholder="Start trip" asp-for="@currentTrip.AddressStart">
                            <input id="InputStartLatitude" type="text" class="form-control d-none" asp-for="@currentTrip.AddressStartLatitude">
                            <input id="InputStartLongitude" type="text" class="form-control d-none" placeholder="Start trip" asp-for="@currentTrip.AddressStartLongitude">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="@currentTrip.AddressEnd"></label>
                        </div>
                        <div class="col-8">
                            <input id="InputEnd" type="text" disabled class="form-control" placeholder="End trip" asp-for="@currentTrip.AddressEnd">
                            <input id="InputEndLatitude" type="text" class="form-control d-none" asp-for="@currentTrip.AddressEndLatitude">
                            <input id="InputEndLongitude" type="text" class="form-control d-none " placeholder="Start trip" asp-for="@currentTrip.AddressEndLongitude">
                        </div>
                    </div>

                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Trip" asp-route-Id="@currentTrip.Id" asp-action="Edit" class="btn btn-primary mx-3">Edit</a>
                        <a asp-controller="Trip" asp-route-Id="@currentTrip.Id" asp-action="Delete" class="btn btn-danger mx-3">Cancel</a>
                    </div>


                }
                else
                {
                    <p> No trips exists. Create some new trip.</p>
                }
            }
        </div>
        <div class="col-6 text-right" id="map" style="height: 430px; "></div>

        <script>
                       
            let start = {}
            start.lat = document.getElementById('InputStartLatitude').value
            start.lng = document.getElementById('InputStartLongitude').value

            let end = {}
            end.lat = document.getElementById('InputEndLatitude').value
            end.lng = document.getElementById('InputEndLongitude').value

            //displaying the path on the map
            calcRoute(start, end)
        </script>
    </div>

    @if (Model.Count() > 0)
    {
        <br /> <br />
        <h1>all trips bookings</h1>

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name trip
                    </th>
                    <th>
                        planned start time
                    </th>
                    <th>
                        Descriprion
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trip in Model)
                {
                    <tr>
                        <td>@trip.Name</td>
                        <td>@trip.TimePlain</td>
                        <td>@trip.Descriprion</td>
                    </tr>
                }
            </tbody>

        </table>
    }
</div>

        