@model IEnumerable<FastTripApp.DAO.Models.HistoryTrip>

@{
    ViewData["Title"] = "My history trips";
}

<div class="container p-3 ">
    @if (Model.Count() > 0)
    {
        <br /> <br />
        <h1>all trips history</h1>

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                    </th>
                    <th style="WIDTH: 180px;">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().StartTrip)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().TimeTrack)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().AddressStart)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().AddressEnd)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trip in Model)
                {
                    <tr>
                        <td>@trip.Name</td>
                        <td>@trip.StartTrip</td>
                        <td>@Html.DisplayFor(modelItem => trip.TimeTrackView)</td>
                        <td>@trip.AddressStart</td>
                        <td>@trip.AddressEnd</td>
                        <td>more</td>
                    </tr>
                }
            </tbody>

        </table> }
    else
    {
        <h1 class="text-center">History is clear. Try book some trip</h1>
    }
</div>

