@model IEnumerable<FastTripApp.DAO.Models.HistoryTrip>

@{
    ViewData["Title"] = "My history trips";
}



<div class="container p-3 ">

    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>

    @if (Model.Count() > 0)
    {
        <br /> <br />
        <h1 class="text-center mb-4">All trips history</h1>

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                    </th>
                    <th style="WIDTH: 180px;">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().StartTrip)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().TimeTrack)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().AddressStart)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().AddressEnd)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trip in Model)
                {
                    var styleLine = "";
                    if (trip.TimeTrack == 0)
                    {
                        styleLine = "background-color: #fb5e6d";
                    }
                    <tr style="@styleLine">
                        <td>@trip.Name</td>
                        <td>@trip.StartTrip</td>
                        <td>@Html.DisplayFor(modelItem => trip.TimeTrackView)</td>
                        <td>@trip.AddressStart</td>
                        <td>@trip.AddressEnd</td>
                        <td>
                            @{
                                
                                var linkInfo = "HistoryTrip/Details?id=" + trip.Id;
                            }
                            <a class="btn btn-info" onclick="getInfo(@trip.Id)">Details</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table> }
    else
    {
        <h1 class="text-center">History is clear. Try book some trip</h1>
    }
</div>


@section scripts
{
    <script type="text/javascript">
        function getInfo(id) {
            $.ajaxSetup({ cache: false });

            $.get('HistoryTrip/Details?id=' + id, function (data) {
            
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        }
    </script>
}

